/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font-family: "Noto Sans TC", "Noto Sans", sans-serif; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------[ Mobile First] ------------------ */
/* General */
body{
  font-family: "Noto Sans TC", "Noto Sans",  sans-serif;
	line-height: 1.5;
	text-align: center;
}
a{
	text-decoration: none;
	color: #3B3B3B;
}
h1, h3, h4, h5, h6{line-height: 1.2;}
h1, h2, h3, h4, h5{font-weight: bold;}
h1, h2, h3, h4, h6{color: #3B3B3B;}
h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 20px; color: #1e1e1e;}
h6{font-size: 16px;}
p{
	margin: 8px 0;
	color: #5b5b5b;
}
/* ------header------ */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 12px;
	outline: 1px solid #f1f1f1;
	position: relative;
}
.logo img{
	display: inline-block;
	width: 74px;
	height: auto;
}
.btn{
	background-color: #fff;
	border: none;
	padding: 6px 5px;
}
span.material-symbols-outlined{
	width: 30px;height: 20px;
}
nav ul{
	position: absolute;
	width: 100%;
	top: 55px;
	left: 0;
	text-align: center;
	background-color: #fff;
	outline: 1px solid #f1f1f1;
	padding: 1em 0;
}
nav li{
	margin: 1.5em 0;
}
nav a{
  color: #000;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	padding: 4px 8px;
}

/* -----------Nav Qoute Mark Design----------- */
.upperQoute::before, .upperQoute::after, .bottomQoute::before, .bottomQoute::after{
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	box-sizing: border-box;
	position: relative;
	opacity: 0;
}
.upperQoute::before, .upperQoute::after{
	border-bottom: 1px solid #919191;
	top: 11px;
}
.bottomQoute::before, .bottomQoute::after{
	border-top: 1px solid #919191;
	top: -19px;
}
.upperQoute::before,.bottomQoute::before{
	border-left: 1px solid #919191;
}
.upperQoute::after,  .bottomQoute::after{
	border-right: 1px solid #919191;
}
.upperQoute::before{
	left: 16px;
}
.upperQoute::after{
	left: -16px;
}
/* Nav Focused */
.navFocused, .navFocused::before, .navFocused::after{
	font-weight: bold;
	opacity: 1;
}
/* ---------------------------- */

nav span.close{display: none;}
.close{display: none;}
.overlay{
	position: absolute;
	top: 421px;
	left: 0;
	width: 100%;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

/* ----footer---- */
footer{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
	padding: 40px 0;
}
.contactMe>img{
	width: 120px;
	height: auto;
}
.contactMe>h6:nth-of-type(1){
	margin: 24px 0;
}
.contactMe>h6:nth-of-type(2){
	color: #919191;
}
.contactMethod{
	width: 306px;
	padding-top: 40px;
	margin: 0 auto;
}
.contactMethod a{
	display: flex;
	outline: 1px solid #c1c1c1;
	font-size: 20px;
	align-items: center;
	border-radius: 8px;
}
.icon{
	margin: 0 8px 0 24px;
}
.formBtn{
	outline: none;
	color: #fff;
	background-color: #000;
}
.contactMethod>a:nth-of-type(2){
	margin: 24px 0;
}

/* keyword */
.keyword{
	background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

/* tags */
.tags{
	margin: 16px 0 20px;
}
.tags a{
	display: inline-block;
	background-color: #F1F1F1;
	border-radius: 16px;
	margin-right: 8px;
	padding: 4px 12px;
}

/* -------------[ desktop] ------------------ */
@media(min-width: 576px){

/* header */
header{
	/* justify-content: center; */
	justify-content:space-evenly ;
	padding: 0;
}
.logo{
	/* width: auto; */
	/* width: 100%; */
	width: 37%;
}
.logo img{
	width: 90px;
	/* margin-right: 318px; */

}
nav{
	width: 63%;
	display: flex;
}
nav .btn{display: none;}
nav ul.close{
	outline: none;
	position: static;
	width: 480px;
	display: flex;
	justify-content: space-between;
	/* margin-right: 90px; */
}
nav li{
	margin: 1em 0;
}
nav a{
	font-size: 16px;
}
/* nav hover effect */
.showQoute::before, .showQoute::after{
	opacity: 1;
}
/* ----footer---- */
footer{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
	padding: 80px 0;
	display: flex;
	justify-content: center;
	gap: 690px;
}
.contactMe{
	text-align: left;
	align-self: center;
}
.contactMe>h6:nth-of-type(1){
	font-size: 20px;
	line-height: 1.5;
}
.contactMe>h6:nth-of-type(2){
	font-size: 20px;
}
.contactMethod{
	padding: 0;
	margin: 0;
}
.contactMethod a{
	padding: 4px 0;
}
.contactMethod a:hover{
	outline: 1px solid #000;
}

/* tags */
.tags{
	margin: 1.5em 0 0 0; 
}






}


