/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Noto Sans TC", "Noto Sans", sans-serif;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------[ Mobile First] ------------------ */
/* General */
body{
  font-family: "Noto Sans TC", "Noto Sans",  sans-serif;
	line-height: 1.5;
	text-align: center;
}
a{
	text-decoration: none;
	color: #3B3B3B;
}
h1, h3, h4, h5, h6{line-height: 1.2;}
h1, h2, h3, h4, h5{font-weight: bold;}
h1, h2, h3, h4, h6{color: #3B3B3B;}
h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 20px; color: #1e1e1e;}
h6{font-size: 16px;}
p{
	margin: 8px 0;
	color: #5b5b5b;
}
/* ------header------ */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8.5px 12px;
	outline: 1px solid #f1f1f1;
	background-color: #fff;
	position: relative;
	position: sticky;
	top: 0;
	z-index: 10;
}
.logo img{
	display: inline-block;
	width: 74px;
	height: auto;
}
.btn{
	background-color: #fff;
	border: none;
	padding: 6px 5px;
}
span.material-symbols-outlined{
	width: 30px;height: 20px;
}
nav ul{
	position: absolute;
	width: 100%;
	top: 55px;
	left: 0;
	text-align: center;
	background-color: #fff;
	outline: 1px solid #f1f1f1;
	padding: 1em 0;
}
nav li{
	margin: 1.5em 0;
}
nav a{
  color: #000;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	padding: 4px 8px;
}

/* -----------Nav Qoute Mark Design----------- */
.upperQoute::before, .upperQoute::after, .bottomQoute::before, .bottomQoute::after{
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	box-sizing: border-box;
	position: relative;
	opacity: 0;
}
.upperQoute::before, .upperQoute::after{
	border-bottom: 1px solid #919191;
	top: 11px;
}
.bottomQoute::before, .bottomQoute::after{
	border-top: 1px solid #919191;
	top: -19px;
}
.upperQoute::before,.bottomQoute::before{
	border-left: 1px solid #919191;
}
.upperQoute::after,  .bottomQoute::after{
	border-right: 1px solid #919191;
}
.upperQoute::before{
	left: 16px;
}
.upperQoute::after{
	left: -16px;
}
/* Nav Focused */
.navFocused, .navFocused::before, .navFocused::after{
	font-weight: bold;
	opacity: 1;
}
/* ---------------------------- */

nav span.close{display: none;}
.close{display: none;}
.overlay{
	position: absolute;
	top: 421px;
	left: 0;
	width: 100%;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

/* ----service---- */
.service{
	background-color: #FAFAFA;
	padding: 40px 0 80px 0;
}
.serviceCard{
	width: 306px;
	height: 306px;
	margin: 24px auto 0;
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
	border-radius: 16px;
	position: relative;
}
.serviceCard img{
	position: absolute;
	top: 86.5px;
	left: 113px;
}
.serviceCard h3{
	position: absolute;
	top: 190.5px;
	left: 105px;
	color: #fff;
	margin: 0 auto;
}
.serviceContact{
	margin-top: 40px;
}
.serviceContact h5{
	color: #3B3B3B;
  margin-bottom: 24px;
}
/* workWrap */
.workWrap{
  padding: 80px 0;
}
ul.workList li{
  width: 93.5%;
  margin: 0 auto 48px;
}
ul.workList img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
}
.textWrap{
  margin: 1em auto 0 1em;
  text-align: left;
}
.textWrap p{
  color: #919191;
}
ol.workMenu{
  width: 152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ol.workMenu li a{
  font-size: 24px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.olActive{
  color: #fff;
  background-color: #1e1e1e;
}

/* ----footer---- */
footer{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
	padding: 40px 0;
}
.contactMe>img{
	width: 120px;
	height: auto;
}
.contactMe>h6:nth-of-type(1){
	margin: 24px 0;
	line-height: 26px;
}
.contactMe>h6:nth-of-type(2){
	color: #919191;
}
.contactMethod{
	width: 306px;
	padding-top: 40px;
	margin: 0 auto;
}
.contactMethod a{
	display: flex;
	outline: 1px solid #c1c1c1;
	font-size: 20px;
	align-items: center;
	border-radius: 8px;
	padding: 4px 0 4px 24px;
	text-indent: .5em;
}
.icon{
	margin: 0 8px 0 24px;
}
.fa-solid, .fa-brands{
	font-size: 40px;
	margin: 8px;
}
.contactMethod>a:nth-of-type(2){
	margin: 24px 0;
}

/* keyword */
.keyword{
	background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png);
	background-repeat: no-repeat;
	background-position: bottom;
}

/* h3.title deco */
h3.title{
	margin: 40px 0;
}
h3.title::before, h3::after{
	position: relative;
	top: -6px;
}
h3.title::before{
	content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-sm.png?raw=true);
	right: 16px;
}
h3.title::after{
	content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-sm.png?raw=true);
	left: 16px;
}

/* tags */
.tags{
	margin: 16px 0 20px;
}
.tags a{
	display: inline-block;
	background-color: #F1F1F1;
	border-radius: 16px;
	margin-right: 8px;
	padding: 4px 12px;
}

/* -------------[ iPad mini ] ------------------ */
@media(min-width: 768px){

/* header */
header{
	/* justify-content: center; */
	justify-content:space-evenly ;
	padding: 0;
}
.logo{
	/* width: auto; */
	/* width: 100%; */
	width: 37%;
}
.logo img{
	width: 90px;
	/* margin-right: 318px; */

}
nav{
	width: 63%;
	display: flex;
}
nav .btn{display: none;}
nav ul.close{
	outline: none;
	position: static;
	width: 480px;
	display: flex;
	justify-content: space-between;
	/* margin-right: 90px; */
}
nav li{
	margin: 1em 0;
}
nav a{
	font-size: 16px;
}
/* nav hover effect */
.showQoute::before, .showQoute::after{
	opacity: 1;
}
/* ---service--- */
.service{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
}
.serviceList{
display: flex;
justify-content: center;
gap: 24px;
flex-wrap: wrap;
}
.serviceCard{
margin: 0;
}
.serviceContact{
margin-top: 80px;
}
.serviceContact h5{
font-size: 28px;
margin-bottom: 40px;
}
.serviceContact a.btn{
font-size: 20px;
padding: 0;
padding: 16px 38px;
}

/* workwrap */
.workWrap{
	padding: 120px 0;
}
ul.workList img, ul.workList li{
	border-radius: 8px;
}
.textWrap h4{
	font-size: 28px;
	margin: 1rem 0 .5rem;
}
.workMenu li a:hover{
	color: #fff;
	background-color: #1e1e1e;
}
/* ----footer---- */
footer{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
	padding: 80px 0;
	display: flex;
	justify-content: space-around;
}
.contactMe{
	text-align: left;
	align-self: center;
}
.contactMe>h6:nth-of-type(1){
	font-size: 20px;
	line-height: 1.5;
}
.contactMe>h6:nth-of-type(2){
	font-size: 20px;
}
.contactMethod{
	padding: 0;
	margin: 0;
}
.contactMethod a{
	padding: 8px 0;
}
.contactMethod a:hover{
	outline: none;
	color: #fff;
	background-color: #000;
}

/* tags */
.tags{
	margin: 1.5em 0 0 0; 
}


}

/* -------------[ desktop ] ------------------ */
@media(min-width: 992px){

	/* ---service--- */
.service{
	padding: 120px 0;
}
.service h3.title{
	margin-top: 0;
}
  /* workwrap */
  ul.workList{
    width: 1296px;
    margin: 0 auto 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px 24px;
  }
  ul.workList li{
    width: 636px;
    margin-bottom: 0;
  }
  .ex{
    margin-bottom: 14px;
  }

}
