/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Noto Sans TC", "Noto Sans", sans-serif;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------[ Mobile First] ------------------ */
/* General */
body{
  font-family: "Noto Sans TC", "Noto Sans", sans-serif;
	line-height: 1.5;
	text-align: center;
}
a{
	text-decoration: none;
	color: #3B3B3B;
}
h1, h3, h4, h5, h6{line-height: 1.2;}
h1, h2, h3, h4, h5{font-weight: bold;}
h1, h2, h3, h4, h6{color: #3B3B3B;}
h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 20px; color: #1e1e1e;}
h6{font-size: 16px;}
p{
	margin: 8px 0;
	color: #5b5b5b;
}
/* ------header------ */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8.5px 12px;
	outline: 1px solid #f1f1f1;
	background-color: #fff;
	position: relative;
	position: sticky;
	top: 0;
	z-index: 10;
}
.logo img{
	display: inline-block;
	width: 74px;
	height: auto;
}
.btn{
	background-color: #fff;
	border: none;
	padding: 6px 5px;
}
span.material-symbols-outlined{
	width: 30px;
	height: 20px;
}
nav ul{
	position: absolute;
	width: 100%;
	top: 55px;
	left: 0;
	text-align: center;
	background-color: #fff;
	outline: 1px solid #f1f1f1;
	padding: 1em 0;
}
nav li{
	margin: 1.5em 0;
}
nav ul li a{
  color: #000;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	padding: 4px 8px;
	position: relative;
}
/* -----------Nav Qoute Mark Design----------- */
.qoute{
	display: block;
	width: 8px;
	height: 8px;
	border:1px solid #919191;
	opacity: 0;
	position: absolute;
}
.topL{
	top: 0;
	left: 0;
	border-right: none;
	border-bottom: none;
}
.topR{
	top: 0;
	right: 0;
	border-left: 0;
	border-bottom: none;
}
.botL{
	bottom: 0;
	left: 0;
	border-top: none;
	border-right: none;
}
.botR{
	bottom: 0;
	right: 0;
	border-top: none;
	border-left: none;
}
nav ul li a:hover .qoute{
	opacity: 1;
}
.active{
	font-weight: bold;
	opacity: 1;
}
/* ---------------------------- */
nav span.close{display: none;}
.close{display: none;}
.overlay{
	position: absolute;
	top: 421px;
	left: 0;
	width: 100%;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
/* ----services---- */
.services{
	background-color: #FAFAFA;
	padding: 40px 0 80px 0;
}
.serviceList li{
	width: 306px;
	height: 306px;
	margin: 24px auto 0;
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true);
	border-radius: 16px;
	position: relative;
}
.serviceList li img{
	position: absolute;
	top: 86.5px;
	left: 113px;
}
.serviceList li h3{
	position: absolute;
	top: 190.5px;
	left: 105px;
	color: #fff;
	margin: 0 auto;
}
.serviceContact{
	margin-top: 40px;
}
.serviceContact h5{
	color: #3B3B3B;
  margin-bottom: 24px;
}
/* ----article---- */
.article{
	padding: 40px 0 80px;
}
.articleList{
	width: 351px;
	margin: 40px auto;
}
.articleList li:nth-of-type(1),.articleList li:nth-of-type(2){
	margin-bottom: 48px;
}
.articleList li>a{
	display: block;
	margin: 0 auto;
}
.articleList li>a>img{
	width: 100%;
	height: 234px;
	display: block;
	border-radius: 8px;
	outline: 1px solid #f1f1f1;
}
.articleList li>h4{
	text-align: left;
	margin: 16px 8px;
}
.tagDate{
	display: flex;
	justify-content: space-between;
	margin: 0 8px;
}
.tagDate a{
	display: inline-block;
	background-color: #F1F1F1;
	padding: 4px 12px;
	border-radius: 16px;
}
.tagDate div{
	color: #5b5b5b;
}
.dotNavigation{
	display: none;
}
/* workWrap */
.workWrap{
  padding: 80px 0;
}
ul.workList li{
  width: 93.5%;
  margin: 0 auto 48px;
}
ul.workList img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
}
.textWrap{
  margin: 1em auto 0 1em;
  text-align: left;
}
.textWrap p{
  color: #919191;
}
ol.workMenu{
  width: 152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ol.workMenu li a{
  font-size: 24px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.olActive{
  color: #fff;
  background-color: #1e1e1e;
}
/* ----footer---- */
footer{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true);
	padding: 40px 0;
}
.contactMe>img{
	width: 120px;
	height: auto;
}
.contactMe>h6:nth-of-type(1){
	margin: 24px 0;
	line-height: 26px;
}
.contactMe>h6:nth-of-type(2){
	color: #919191;
}
.contactMethod{
	width: 306px;
	padding-top: 40px;
	margin: 0 auto;
}
.contactMethod a{
	display: flex;
	outline: 1px solid #c1c1c1;
	font-size: 20px;
	align-items: center;
	border-radius: 8px;
	padding: 4px 0 4px 24px;
	text-indent: .5em;
}
.contactMethod a:hover{
	outline: none;
	color: #fff;
	background-color: #000;
}
.contactMethod>a:nth-of-type(2){
	margin: 24px 0;
}
/* keyword */
.keyword{
	background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/mark.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
/* h3.title deco */
h3.title{
	margin: 40px 0;
}
h3.title::before, h3::after{
	position: relative;
	top: -6px;
}
h3.title::before{
	content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-left-sm.png?raw=true);
	right: 16px;
}
h3.title::after{
	content:url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/title-deco-right-sm.png?raw=true);
	left: 16px;
}
/* tags */
.tags{
	margin: 16px 0 20px;
}
.tags a{
	display: inline-block;
	background-color: #F1F1F1;
	border-radius: 16px;
	margin-right: 8px;
	padding: 4px 12px;
}
/* overflow menu */
.menuWrap{
  width: 100%;
  background-color: #fafafa;
}
ul.overflowMenu{
  display: flex;
  gap: 32px;
  padding: 20px 12px;
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;}
}
ul.overflowMenu> li> a{
  display: inline-block;
  padding: 2px 0;
  color: #5b5b5b;
}
.menuWrap .overflowMenu li a:hover, .menuWrap .overflowMenu li a.active{
  color: #1e1e1e;
	font-weight: bold;
  border-bottom: 1px solid #1e1e1e;
}

/* -------------[ iPad mini ] ------------------ */
@media(min-width: 768px){
/* header */
header{
	justify-content:space-evenly ;
	padding: 0;
}
.logo{
	width: 37%;
}
.logo img{
	width: 90px;
}
nav{
	width: 63%;
	display: flex;
}
nav .btn{display: none;}
nav ul.close{
	outline: none;
	position: static;
	width: 480px;
	display: flex;
	justify-content: space-between;
}
nav li{
	margin: 1em 0;
}
nav ul li a{
	font-size: 16px;
}
/* ---service--- */
.services{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true);
}
.serviceList{
display: flex;
justify-content: center;
gap: 24px;
flex-wrap: wrap;
}
.serviceList li{
margin: 0;
}
.serviceContact{
margin-top: 80px;
}
.serviceContact h5{
font-size: 28px;
margin-bottom: 40px;
}
.serviceContact a.btn{
font-size: 20px;
padding: 0;
padding: 16px 38px;
}
/* ---article--- */
.articleList{
	width: auto;
	display: flex;
	gap: 24px;
	justify-content: center;
	flex-wrap: wrap;
}
.articleList li:nth-of-type(1),.articleList li:nth-of-type(2){
	margin-bottom: 0;
}
.article a.btn{
	display: none;
}
.dotNavigation{
	display: block;
	display: flex;
	justify-content: center;
	gap: 1em;
}
.dot{
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #E9E9E9;
}
.dotNavigation .dot:first-of-type, .dot:hover{
	background-color: #000;
}
/* workwrap */
.workWrap{
	padding: 120px 0;
}
ul.workList img, ul.workList li{
	border-radius: 8px;
}
.textWrap h4{
	font-size: 28px;
	margin: 1rem 0 .5rem;
}
.workMenu li a:hover{
	color: #fff;
	background-color: #1e1e1e;
}
/* ----footer---- */
footer{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
	padding: 80px 0;
	display: flex;
	justify-content: space-around;
}
.contactMe{
	text-align: left;
	align-self: center;
}
.contactMe>h6:nth-of-type(1){
	font-size: 20px;
	line-height: 1.5;
}
.contactMe>h6:nth-of-type(2){
	font-size: 20px;
}
.contactMethod{
	padding: 0;
	margin: 0;
}
.contactMethod a{
	padding: 8px 0;
}
.contactMethod svg{
	margin-left: 24px;
}
/* tags */
.tags{
	margin: 1.5em 0 0 0; 
}
/* overflow menu */
.overflowMenu{
	justify-content: space-around;
} 
}

/* -------------[ desktop ] ------------------ */
@media(min-width: 992px){
	/* ---service--- */
.services{
	padding: 120px 0;
}
.services h3.title{
	margin-top: 0;
}
	/* ---article--- */
	.article{
		padding: 120px 0;
	}
	.article h3.title{
		margin-top: 0;
	}
  /* workwrap */
  ul.workList{
    width: 1296px;
    margin: 0 auto 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px 24px;
  }
  ul.workList li{
    width: 636px;
    margin-bottom: 0;
  }
  .ex{
    margin-bottom: 14px;
  }
	/* overflow menu */
	.contentWrap{
    display: flex;
    flex-direction: row-reverse;
		justify-content: space-between;
		width: 67.5%;
		gap: 10.34%;
    max-width: 1296px;
    margin: 80px auto 120px;
  }
	.menuWrap{
    width: auto;
    border-radius: 8px;
  }
  ul.overflowMenu{
    flex-direction: column;
    font-size: 20px;
    padding: 80px 106px 0 80px;
  }
}
