/* -------------[ Mobile First ] ------------------ */
/* ---banner--- */
.heroImg img{
	width: 100%; height: auto;
}
.heroImg img:last-child{
	display: none;
}
.content{
	margin: 0 auto;
	padding: 40px 0;
}
.content h1{
	margin-bottom: 24px;
}
.content p{
	font-size: 20px;
}
.content p span:nth-of-type(2){
	padding: 0 0.5em;
}
.content p:nth-of-type(3){
	font-size: 1em;
	color: #c1c1c1;
	letter-spacing: .5px;
	padding-top: 8px;
}
.content .sns{
	margin-top: 24px;
}
.content .sns img{
	width: 40px;
	height: auto;
}
.content .sns img:nth-of-type(2){
	margin: 0 16px;
}
/* ----workIntro---- */
.introList{
	padding-bottom: 32px;
}
.introItem:first-child> a, .introItem:last-child> a{
	display: block;
	width: 100%;
	background-size: cover;
}
.introItem:first-child> a{
	padding-top: 93px;
	background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work1-bg.png);
}
.introItem:last-child> a{
	padding: 90px 0;
	background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/homepage-work3-bg.png);
	background-position: 70%;
}
.introList> .introItem >a > img{
	display: block;
	width: 100%;
	height: auto;
}
.introItem:first-child> a> img, .imgWrap img{
	width: 295px;
	margin: 0 auto;
}
.imgWrap{
	width: 295px;
	height: 209px;
	margin: 0 auto;
}
.imgWrap img{
	display: block;
	position: absolute;
}
.work3Shadow{
	display: block;
	width: 100%;
	height: 389px;
	background-color: rgba(13, 12, 7,.5);
	position: absolute;
}
.wordWrap{
	padding: 24px 24px 48px;
}
a.btn{
	display: inline-block;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
	font-weight: bold;
	padding: 8px 24px;
}
a.btn::after{
	content: '→';
	position: relative;
	left: 0.5em;
}

/* ----article---- */
.article{
	padding: 40px 0 80px;
}
.articleList{
	width: 351px;
	margin: 40px auto;
}
.articleCard:nth-of-type(1),.articleCard:nth-of-type(2){
	margin-bottom: 48px;
}
.articleCard>a{
	display: block;
	margin: 0 auto;
}
.articleCard>a>img{
	width: 100%;
	height: 234px;
	display: block;
	border-radius: 8px;
	outline: 1px solid #f1f1f1;
}
.articleCard>h5{
	color: #3B3B3B;
	text-align: left;
	margin: 16px 8px;
}
.tagDate{
	display: flex;
	justify-content: space-between;
	margin: 0 8px;
}
.tagDate a{
	display: inline-block;
	background-color: #F1F1F1;
	padding: 4px 12px;
	border-radius: 16px;
}
.dotNavigation{
	display: none;
}

/* ------------[ iPad mini ] ----------------- */
@media(min-width: 768px){

/* ---banner--- */
  .banner{
		display: flex;
		flex-direction: row-reverse;
	}
	.heroImg{
		width: 60%;
		align-self: center;
	}
	.heroImg img:first-child{
		display: none;
	}
	.heroImg img:last-child{
		display: block;
	}
	.content{
		text-align: left;
	}
	.content h1{
		margin-bottom: 0;
	}
/* ---workIntro--- */
.introList{
	padding-bottom: 0;
}
.introItem{
	display: flex;
	justify-content: center;
	gap: 56px;
	position: relative;
	height: 400px;
}
.introItem:first-child{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
	background-position: bottom;
}
.introItem:nth-child(2){
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
}
.introItem:last-child{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
	background-position: bottom right;
}
.introItem:first-child> a, .introItem:last-child> a{
	background-image: none;
	width: auto;
}
.introItem:first-child> a{
	padding-top: 80px;
}
.work2Shadow{
	width: 49%;
	height: 800px;
	background-color: rgba(10, 16, 19,.5);
}
.introItem:last-child> a{
	display: block;
	padding: 0;
	margin-top: 15%;
}
.work3Shadow{
	height: 100%;
}
.introItem:nth-child(2){
	display: block;
}
.introItem:nth-child(2)> a{
	display: none;
}
.introItem:nth-child(2)> .wordWrap{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 3%;
}
.wordWrap{
	box-sizing: border-box;
	text-align: left;
	position: relative;
	align-self: center;
	background-color: rgba(255, 255, 255,.1);
	border-radius: 24px;
}
.wordWrap h5, .wordWrap p{
	color: #fff;
}
.wordWrap h5{
	font-size: 28px;
}
.wordWrap a.btn{
	margin-top: 2em;
}
 /* /tags for #index only/ */
.tags{
	padding-bottom: 1em;
	border-bottom: 1px solid#f1f1f1;
}

/* ---article--- */
.articleList{
	width: auto;
	display: flex;
	gap: 24px;
	justify-content: center;
	flex-wrap: wrap;
}
.articleCard:nth-of-type(1),.articleCard:nth-of-type(2){
	margin-bottom: 0;
}
.article a.btn{
	display: none;
}
.dotNavigation{
	display: block;
	display: flex;
	justify-content: center;
	gap: 1em;
}
.dot{
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #E9E9E9;
}
.dotNavigation .dot:first-of-type, .dot:hover{
	background-color: #000;
}
}

/* -------------[ desktop ] ------------------ */
@media(min-width: 992px){

	/* ---banner--- */
	.content{
		margin-right: 24px;
		margin-right: 1.26%;
		align-self:center;
	}
	.content h1{
		font-size: 40px;
		margin-bottom: 24px;
	}
	.content br{
		display: none;
	}
	.content .sns{
		margin-top: 60px;
	}
	.content .sns img{
		width: 56px;
		height: auto;
	}
		/* ---workIntro--- */
		h3.title{
			font-size: 32px;
			margin: 120px 0 80px;
		}
	.introItem{
		height: auto;
	}
	.wordWrap{
		width: 526px;
		height: 400px;
		padding: 80px 40px 56px;
	}
	.wordWrap a.btn{
		font-size: 20px;
		padding: 16px 38px;
		margin-top: 40px;
		position: absolute;
		left: 50%;
		transform: translateX(-88px);
	}
	.introItem:first-child> a>img{
	width: 714px;
	}
	.introItem:nth-child(2)> .wordWrap{
		margin-left: 312px;
	}
	.introItem:last-child{
			height: 800px;
	}
	.introItem:last-child> a{
		margin-top: 176px;
	}
	.imgWrap, .imgWrap img{
	width: 721px;
	}
	.work2Shadow{
}
/* /tags for #index only/ */
.tags{
	padding-bottom: 40px;
	border-bottom: 1px solid#f1f1f1;
}
/* ---article--- */
.article{
	padding: 120px 0;
}
.article h3.title{
	margin-top: 0;
}


}