/* -------------[ Mobile First] ------------------ */
/* content */
.content{
  padding: 40px 0 60px;
  background-color: #fafafa;
}
.caption{
  margin-bottom: 40px;
}
.caption img{
  width: 64px; height: auto;
}
.caption img:last-child{
  display: none;
}
.caption h5{
  font-weight: normal;
  line-height: 1.5;
}
.experiences{
  width: 235px;
  margin: 0 auto;
}
.ex{
  margin-bottom: 20px;
}
.ex span{
 padding-bottom: 3px;
 border-bottom: 1px solid #5b5b5b;
}
.ex p:nth-of-type(2){
  margin-top: 12px;
  color: #3b3b3b;
}

/* workWrap */
.workWrap{
  padding: 80px 0;
}
ul.workList li{
  /* width: 351px; */
  width: 93.5%;
  margin: 0 auto 48px;
}
ul.workList img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
}
.textWrap{
  margin: 1em auto 0 1em;
  text-align: left;
}
.textWrap p{
  color: #919191;
}
ol.workMenu{
  width: 152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ol.workMenu li a{
  font-size: 24px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.olActive{
  color: #fff;
  background-color: #1e1e1e;
}
/* workWrap Modal */
.blocker{
  padding: 68px 0;
  z-index: 20;
}
.modal{
  width: 93.5%;
  border-radius: 16px;
  padding: 0;
  z-index: 30;
}
.modalTitle{
  margin: 24px 0;
}
.modalTitle p{
  color: #919191;
}
.modalTitle, .modalIntro div:last-child{
  text-align: center;
}
.modalIntro{
  width: 287px;
  margin: 0 auto;
}
.modalIntro div:first-child p{
  color: #1e1e1e;
}
.modalIntro div:first-child p:first-child{
  margin-bottom: -8px;
}
.modalIntro>div:last-child{
  color: #5b5b5b;
  margin: 24px 0;
}
.modalIntro>div:last-child>div:first-of-type{
  padding: 24px 0;
  border-top: 1px solid #c1c1c1;
}
.modalIntro .subTitle{
  margin-bottom: 4px;
}
.modalcardWrap{
  padding: 40px 0;
  background-color: #fafafa;
  border-radius: 16px;
}
.modalCard{
  width: 319px;
  margin: 0 auto;
}
.modalCard:first-of-type{
  margin-bottom: 56px;
}
.modalCard img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1em;
}
.modalCard h5{
  text-align: center;
}
.modalCard p{
  margin-bottom: 0;
}
.modalClose{
  display: block;
  text-align: center;
  margin-top: 32px;
}
.modalClose span{
  width: 32px;
  height: 32px;
}
.modal a.close-modal {
  display: none;
}



/* -------------[ iPad mini ] ------------------ */
@media(min-width: 768px){

  /* content */
  .content{
    padding: 40px 0 80px;
  }
  .caption{
    width: 670px;
    margin: 0 auto;
  }
  .caption img{
    display: block;
    width: 72px;
    position: relative;
  }
  .caption img:first-child{
    margin-right: auto;
    top: 1em;
  }
  .caption img:last-child{
    display: block;
    margin-left: auto;
    top: -1em;
  }
  .caption br{
    display: none;
  }
  .caption h5{
    font-size: 24px;
    line-height: 1.2;
  }
  .caption h5:first-of-type{
    margin-bottom: 16px;
  }
  .experiences{
    width: 636px;
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
  }
  .ex{
    width: 298px;
  }

  /* workwrap */
  .workWrap{
    padding: 120px 0;
  }
  ul.workList img, ul.workList li{
    border-radius: 8px;
  }
  .textWrap h4{
    font-size: 28px;
    margin: 1rem 0 .5rem;
  }
  .workMenu li a:hover{
    color: #fff;
    background-color: #1e1e1e;
  }
  /* workWrap Modal */
  .modal{
  max-width: 1200px;
  }
  .modalTitle{
    margin: 40px 0;
  }
  .modalTitle h2{
    line-height: 1.2;
  }
  .modalIntro{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modalIntro>div:first-child{
    margin-right: 1em;
    margin-left: 2em;
    
  }
  .modalIntro>div:last-child>div:first-of-type{
    border-top: none;
  }
  .modalIntro div:last-child div{
    display: inline-block;
  }
  .modalIntro div:last-child{
    text-align: left;
    margin: 0;
  }
  .modalIntro>div:last-child>div:first-of-type{
    padding: 0;
    margin-bottom: 8px;
  }
  .modalIntro>div:last-child{
    border-left: 1px solid #c1c1c1;
    margin-right: .5em;
  }
  .modalIntro>div:last-child div{
    margin-left: 1em;
  }
  .modalcardWrap{
    padding-bottom: 80px;
  }
  .modalCard{
    width: 90%;
    max-width: 720px;
    text-align: center;
  }
  .modalCard h5{
    font-size: 24px;
  }
  .modalCard p{
    margin-top: 16px;
  }
}


/* -------------[ desktop ] ------------------ */
@media(min-width: 992px){

    /* workwrap */
  ul.workList{
    width: 1296px;
    margin: 0 auto 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px 24px;
  }
  ul.workList li{
    width: 636px;
    margin-bottom: 0;
  }
  .ex{
    margin-bottom: 14px;
  }

  /* workWrap Modal */
  .modal{
    max-width: 1076px;
  }
  .modalClose{
    text-align: end;
    margin-right: 40px;
  }
  .modalIntro div:first-child p, .modalIntro div:first-child p:first-child{
    margin: 0;
  }
  .modalIntro>div:first-child {
    margin-right: 4.5em;
  }
  .modalIntro{
    margin-bottom: 40px;
  }
  .modalcardWrap{
    padding: 80px 0;
  }
  .modalCard img{
    margin-bottom: 1.5em;
  }

}